@font-face {
    font-family: "Houschka";
    src: url("../fonts/Houschka.ttf");
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    padding: 1rem;
    font-family: "Houschka", Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    border-radius: .3rem;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    color: #fff;
    background-color: #2196f3;
    text-decoration: none;
    padding: 1rem 2rem;
    font-weight: bold;
    border-radius: .3rem;
}

@media (min-width: 768px) {
    .dos-columnas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}